.cards{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -10%;
}
.cards button{
    background-color: transparent;
    color: aliceblue;
    padding: 10px;
}

  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  @media (max-width: 767px) {
    .cards{
      padding-left: 0%;
      padding-right: 0%;
      margin-top: -50%;
      padding-bottom: 5%;
  }
  .card{
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  }