.metting_component {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  padding: 50px 150px;
  gap: 50px;
  background-image: linear-gradient(
    to right,
    #191919,
    100%,
    #191919 10%,
    #e4252c
  );
  color: white;
  position: relative;
  overflow: hidden;
}
.metting_component::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 5px;
  background-color: #e4252c;
  opacity: 0.8;
  box-shadow: 0px 0px 1000px 200px #e4252c;
  top: -70px;
  right: 0;
  z-index: 1;
}
.metting_component::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #e4252c;
  opacity: 0.8;
  box-shadow: 0px 0px 1000px 170px #e4252c;
  bottom: -100px;
  right: 0;
  z-index: 2;
  border-top-right-radius: 100%;
}

/* ================================= left_metting */
.left_metting {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.top_metting_span {
  color: gray;
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.8%;
  margin-bottom: 26px;
  position: relative;
}
/* .top_metting_span::before {
  content: "";
  position: absolute;
  right: 390px;
  bottom: 7px;
  background-color: gray;
  width: 65px;
  height: 1px;
  z-index: 1;
} */

.left_metting h2 {
  width: 578px;
  color: #fff;
  font-family: Proxima Nova;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 103.8%; /* 83.04px */
}
.left_metting p {
  color: gray;
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.8%; /* 27.96px */
  width: 559px;
  margin-top: 30px;
}

/* ============================= right_metting */
.right_metting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right_metting input {
  width: 100%;
  background-color: transparent;
  border: 1px solid gray;
  padding: 12px;
  margin-bottom: 12px;
}

.right_metting textarea {
  border-radius: 0;
  outline: none;
  resize: none;
  border: 1px solid gray;
}
/* Hide the blue outline when the textarea is focused */
.right_metting input:focus {
  outline: none;
  border: 1px solid #0d6efd;
}
.right_metting textarea:focus {
  outline: none;
  border: 1px solid #0d6efd;
}

.right_metting button {
  padding: 10px 30px;
  color: white;
  background-color: #e4252c;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
}

/* ================== media querry  */
@media (max-width: 1215px) {
  .metting_component {
    padding: 50px 50px;
  }
}

@media (max-width: 1134px) {
  .left_metting h2 {
    width: 100%;
  }
  .left_metting p {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .left_metting h2 {
    font-size: 70px;
  }
  .left_metting p {
    font-size: 20px;
  }
  .top_metting_span {
    margin-bottom: 0px;
  }
}
@media (max-width: 937px) {
  .left_metting h2 {
    font-size: 65px;
  }
}

@media (max-width: 881px) {
  .metting_component {
    padding: 50px 20px;
  }
}

@media (max-width: 821px) {
  .left_metting h2 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .metting_component {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .left_metting h2 {
    font-size: 80px;
    width: 90%;
  }
  .left_metting p {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .left_metting h2 {
    font-size: 80px;
    width: 100%;
    z-index: 88;
    color: white;
  }
  .left_metting p {
    width: 100%;
  }
  .metting_component {
    padding: 50px 24px !important;
  }
}

@media (max-width: 400px) {
  .left_metting h2 {
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 103.8%; /* 53.976px */
  }
  .metting_component::before {
    width: 50px;
    box-shadow: 0px 0px 1500px 120px #e4252c;
  }
  .left_metting p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.8%; /* 22.368px */
  }
  .metting_component {
    padding: 50px 13px;
  }
}

@media (max-width: 500px) {
  .left_metting h2 {
    font-size: 45px;
  }
}
@media (max-width: 324px) {
  .left_metting h2 {
    font-size: 40px;
  }
}
