.testimonial {
  text-align: left;
  padding: 150px 0px 100px 150px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: center; /* Center horizontally */
  align-items: end; /* Center vertically */
}

.testimonial .left h2 {
  color: #242424;
  font-family: Proxima Nova;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 106.3%; /* 85.04px */
}
.testimonial .left p {
  color: #1c1c1c;
  font-family: Proxima Nova;
  font-size: 18.509px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.134px; /* 124.991% */
  margin-bottom: 120px;
}
.carousal_main {
  /* padding: 20px; */
  left: 0;
  width: 100%;
  overflow-x: hidden;
}
.carousal_track {
  width: 650px;
  display: flex;
  align-items: center;
  height: 260px;
}

.carousal_slide_box {
  width: 750px !important;
  height: 250px;
  margin: 0px 15px;
  border-radius: 23px;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  gap: 19px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.6s ease !important;
}
/* .carousal_slide_box::before {
  content: "";
  position: absolute;
  left: -101%;
  top: 2px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
} */
.button {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
}
.button button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #e92129;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.button svg {
  font-size: 25px;
}
.non_active {
  overflow: hidden;
  height: 200px;
  margin-top: 50px;
  transition: all 0.6s ease !important;
}
.non_active img {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
  border-radius: 100%;
  transition: all 0.6s ease !important;
}
.greatet_carousal_box {
  opacity: 0;
  transition: all 0.6s ease !important;
}
.non_active h2 {
  font-size: 30px !important;
}
.non_active p {
  font-size: 18px !important;
  line-height: inherit !important;
}

.carousal_box_left img {
  width: 102px;
  height: 102px;
  object-fit: contain;
  border-radius: 100%;
  transition: all 0.6s ease !important;
}
.carousal_box_right {
}
.carousal_box_right h2 {
  color: #e4252c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Proxima Nova;
  font-size: 36.267px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.carousal_box_right p {
  color: #000;
  font-family: Proxima Nova;
  font-size: 20.309px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.022px; /* 128.125% */
}

/* =============================  */

@media (max-width: 1430px) {
  .carousal_slide_box {
    width: 700px !important;
  }
}
@media (max-width: 1400px) {
  .carousal_slide_box {
    width: 650px !important;
  }
}

@media (max-width: 1360px) {
  .testimonial {
    padding: 150px 0px 100px 100px;
  }
}
@media (max-width: 1300px) {
  .carousal_slide_box {
    width: 100% !important;
  }
  .testimonial {
    gap: 20px;
  }
}
@media (max-width: 1280px) {
  .testimonial {
    padding: 150px 0px 100px 70px;
    grid-template-columns: 0.3fr 1fr;
  }
}
@media (max-width: 1250px) {
  .carousal_slide_box {
    width: 600px !important;
    margin: 0px 10px;
    padding: 20px;
    gap: 15px;
  }
  .non_active {
    overflow: hidden;
    height: 210px;
    margin-top: 50px;
  }
}

@media (max-width: 1170px) {
  .testimonial {
    align-items: center;
  }
  .testimonial .left h2 {
    color: #242424;
    font-family: Proxima Nova;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 106.3%; /* 85.04px */
  }
}
@media (max-width: 1140px) {
  .carousal_slide_box {
    width: 550px !important;
    height: 250px;
  }
  .non_active {
    height: 200px;
  }
}
@media (max-width: 1100px) {
  .carousal_slide_box {
    width: 550px !important;
    margin: 0px 10px;
    padding: 10px;
    gap: 10px;
    height: 220px;
  }
  .non_active {
    overflow: hidden;
    height: 200px;
    margin-top: 50px;
  }
  .testimonial .carousal_slide_box p {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .carousal_slide_box {
    width: 500px !important;
    height: 250px;
  }
  .non_active {
    height: 200px;
  }
}
@media (max-width: 1050px) {
  .testimonial {
    padding: 150px 0px 100px 100px;
    grid-template-columns: 0.3fr 1fr;
  }
  .carousal_slide_box {
    width: 450px !important;
    height: 280px;
  }
  .carousal_track {
    height: 300px;
  }
  .non_active {
    height: 200px;
  }
}

@media (max-width: 1000px) {
  .carousal_slide_box {
    width: 430px !important;
    /* margin: 0px 10px; */
    height: 250px;
    /* padding: 10px; */
    gap: 10px;
    transition: all 0.6s ease;
    height: 300px;
  }

  .carousal_track {
    height: 330px;
  }
  .non_active {
    height: 200px;
  }

  .non_active {
    overflow: hidden;
    height: 200px;
    margin-top: 50px;
    transition: all 0.6s ease;
  }
  .carousal_box_left img {
    border: 2px solid red;
  }
  .carousal_box_right p {
    font-size: 13px;
  }
  .carousal_box_right h2 {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .testimonial {
    padding: 50px 0px 50px 64px;
  }
  .left h2 {
    font-size: 60px !important;
  }
  .carousal_slide_box {
    width: 500px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 250px;
  }

  .carousal_track {
    height: 330px;
  }
  .non_active {
    height: 200px;
  }
}

@media (max-width: 960px) {
  .carousal_slide_box {
    width: 450px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 270px;
  }

  .carousal_track {
    height: 300px;
  }
  .non_active {
    height: 200px;
  }
}

@media (max-width: 950px) {
  .testimonial .left h2 {
    font-size: 60px;
  }
}
@media (max-width: 900px) {
  .carousal_slide_box {
    width: 450px !important;
  }
  .non_active {
    overflow: hidden;
    height: 200px;
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .carousal_slide_box {
    width: 400px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 300px;
  }

  .carousal_track {
    height: 330px;
  }
  .non_active {
    height: 200px;
  }
}

@media (max-width: 850px) {
  .testimonial .left h2 {
    font-size: 80px;
    margin-bottom: 10px;
  }
  .testimonial .left p {
    font-size: 22px;
  }
  .carousal_slide_box {
    width: 650px !important;
    height: 250px;
    margin: 12px;
  }

  .carousal_box_left {
    justify-content: center;
    align-items: center;
  }
  .carousal_slide_box h2 {
    font-size: 35px;
    margin-bottom: 6px;
  }
  .carousal_slide_box p {
    font-size: 22px;
  }
  .carousal_slide_box {
    width: 350px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 350px;
  }

  .carousal_track {
    height: 360px;
  }
  .non_active {
    height: 200px;
    margin-top: 150px;
  }
  .testimonial .left h2 {
    font-size: 50px !important;
  }
}
@media (max-width: 800px) {
  .testimonial {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .left p {
    margin-bottom: 0px !important;
  }
  .carousal_slide_box {
    width: 650px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 250px;
  }

  .carousal_track {
    height: 330px;
  }
  .non_active {
    height: 170px;
    margin-top: 80px;
  }
  .button {
    max-width: 100% !important;
    padding-right: 20px;
  }
}
@media (max-width: 780px) {
  .carousal_slide_box {
    width: 600px !important;
    gap: 10px;
    transition: all 0.6s ease;
    height: 250px;
  }

  .carousal_track {
    height: 260px;
  }
  .non_active {
    height: 170px;
    margin-top: 80px;
  }
}

@media (max-width: 750px) {
  .carousal_slide_box {
    width: 550px !important;
    height: 250px;
    margin: 12px;
  }
  .non_active {
    height: 200px;
    margin-top: 50px;
  }
  .testimonial_home {
    padding: 60px 0px 60px 10px;
  }
}
@media (max-width: 680px) {
  .testimonial {
    padding-left: 24px;
  }
  .left p {
    /* padding-right: 10px; */
    font-size: 18px !important;
  }
}

@media (max-width: 650px) {
  .carousal_track {
    height: 270px;
  }
  .carousal_slide_box {
    width: 75% !important;
    height: 270px;
    margin: 12px;
  }
  .non_active {
    height: 200px;
    margin-top: 50px;
  }
  .button {
    padding-left: 0px;
  }
}
@media (max-width: 600px) {
  .carousal_track {
    height: 270px;
  }
  .carousal_slide_box {
    width: 450px !important;
    height: 270px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 50px;
  }
}
@media (max-width: 520px) {
  .carousal_track {
    height: 300px;
  }
  .carousal_slide_box {
    width: 410px !important;
    height: 300px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 50px;
  }
  .carousal_slide_box p {
    font-size: 17px !important;
  }
}

@media (max-width: 504px) {
  .testimonial .left h2 {
    font-size: 52px;
  }
  .testimonial .left p {
    font-size: 18px;
    padding: 10px;
  }
  .testimonial_home {
    padding: 30px 0px 0px 10px;
  }
  .carousal_main {
    height: auto;
  }
  .testimonial {
    padding: 50px 0px 100px 24px;
  }
  .testimonial .left p {
    margin-bottom: 20px;
  }
  .carousal_track {
    height: 400px;
  }
  .carousal_slide_box {
    flex-direction: column;
    height: auto;
  }
  .non_active {
    padding: 10px;
  }
  .button {
    justify-content: flex-end;
    padding-right: 20px;
  }
}

@media (max-width: 474px) {
  .carousal_track {
    height: 300px;
    transition: height 0.6s ease;
  }
  .carousal_slide_box {
    width: 400px !important;
    height: 300px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
    transition: height 0.6s ease;
  }
  .non_active {
    height: 190px !important;
    margin-top: 90px;
    padding-top: 40px;
  }
  .non_active h2 {
    font-size: 20px !important;
  }
  .non_active p {
    font-size: 13px !important;
    transition: all 0.5s ease;
  }
  .non_active img {
    width: 40px !important;
    height: 40px !important;
    transition: all 0.6s ease;
  }

  .carousal_slide_box img {
    width: 70.58px;
    height: 70.58px;
  }
  .carousal_slide_box h2 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .carousal_track {
    height: 330px;
  }
  .carousal_slide_box {
    width: 350px !important;
    height: 330px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 120px;
    padding-top: 40px;
  }
}
@media (max-width: 400px) {
  .carousal_track {
    height: 320px;
    height: 350px;
  }
  .carousal_slide_box {
    width: 320px !important;
    height: 350px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 120px;
  }
}
@media (max-width: 380px) {
  .carousal_track {
    height: 370px;
  }
  .carousal_slide_box {
    width: 290px !important;
    margin-left: 0px;
    height: 370px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 210px !important;
    margin-top: 150px;
  }
}
@media (max-width: 360px) {
  .carousal_track {
    height: 350px;
  }
  .carousal_slide_box {
    width: 280px !important;
    margin-left: 0px;
    height: 350px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  /* .non_active {
    height: 200px;
    margin-top: 130px;
  } */
}
@media (max-width: 360px) {
  .carousal_track {
    height: 400px;
  }
  .carousal_slide_box {
    width: 250px !important;
    margin-left: 0px;
    height: 400px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 150px;
  }
}
@media (max-width: 360px) {
  .carousal_track {
    height: 400px;
  }
  .carousal_slide_box {
    width: 250px !important;
    margin-left: 0px;
    height: 400px;
    margin: 12px;
    margin: 0px 10px;
    margin-left: 5px;
  }
  .non_active {
    height: 200px;
    margin-top: 170px;
  }
}
