.section1 {
    height: fit-content;
    background: linear-gradient(white 35%, #1A1A1A 10%);
 padding-bottom: 3%;
}
.section2{
padding-top: 3%;
padding-left: 20%;
padding-bottom: 3%;
}
.section3{
    height:fit-content;
    background: rgb(25,10,5);
background: linear-gradient(90deg, rgba(25,10,5,1) 53%, rgba(135,0,0,1) 88%);
}
.section4{
    padding: 5%;
}

.section5{
    background: linear-gradient(92.42deg, #E4252C -21.11%, #000000 50.58%, #E4252C 126.41%);
height: fit-content;
padding: 5%;
}

@media screen and (max-width: 768px) { /* Medium screens and up */
    .section2{
        padding-top: 3%;
        padding-left: 5%;
        }
        
  }
  